<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  xplan-manager-web - Webanwendung XPlanManagerWeb
  %%
  Copyright (C) 2008 - 2024 Freie und Hansestadt Hamburg, developed by lat/lon gesellschaft für raumbezogene Informationssysteme mbH
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>

  <!-- Spring WebApplication Context -->
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>de.latlon.xplan.manager.web.spring.config.ManagerWebSpringConfig</param-value>
  </context-param>
  <context-param>
    <param-name>gwt.xsrf.session_cookie_name</param-name>
    <param-value>JSESSIONID</param-value>
  </context-param>

  <!-- Bootstrap the root application context as usual using ContextLoaderListener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    <listener-class>de.latlon.xplan.manager.web.server.log.SystemLogListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>configurationService</servlet-name>
    <servlet-class>de.latlon.xplan.manager.web.server.service.ManagerWebConfigurationServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>securityService</servlet-name>
    <servlet-class>de.latlon.xplan.manager.web.server.service.SecurityServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>managerService</servlet-name>
    <servlet-class>de.latlon.xplan.manager.web.server.service.ManagerServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>xplanValidationService</servlet-name>
    <servlet-class>de.latlon.xplan.manager.web.server.service.XPlanMgrValidationServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>xplanvalidatorwebValidationconfigService</servlet-name>
    <servlet-class>de.latlon.xplanbox.core.gwt.commons.server.service.DefaultValidationConfigService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>xplanmgrwebrest</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>de.latlon.xplan.manager.web.spring.config.XPlanManagerWebContextConfig</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>xsrf</servlet-name>
    <servlet-class>com.google.gwt.user.server.rpc.XsrfTokenServiceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>configurationService</servlet-name>
    <url-pattern>/xplanmgrweb/config</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>securityService</servlet-name>
    <url-pattern>/xplanmgrweb/security</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>managerService</servlet-name>
    <url-pattern>/xplanmgrweb/manager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xplanValidationService</servlet-name>
    <url-pattern>/xplanmgrweb/validation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xplanvalidatorwebValidationconfigService</servlet-name>
    <url-pattern>/xplanmgrweb/validationconfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xplanmgrwebrest</servlet-name>
    <url-pattern>/xplanmgrweb/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xsrf</servlet-name>
    <url-pattern>/xplanmgrweb/xsrf</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
