body{
  padding: 0;
  background-color: #fcfcfc;
  text-align: justify;
  }
.navbar{
  position: relative;
  width: 1000px;
  margin:auto;
  border-bottom: none;
  }
.container{
	background-color: #fcfcfc;
	max-width: 1000px;
	padding:0;
	padding-bottom: 20px;
	}
.navbar .container{
	border: 1px solid #ffa31a;
	padding-bottom: 0;
	margin-bottom: 20px;
	}
.row{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fcfcfc;
  margin:auto;
  width:1000px;
  border: 1px solid #DADADA;
  border-right: 4px solid #ff9900;
  }
.navbar-right{
  float:left !important;
  }
.navbar-header{
	padding: 0;
	padding-left: 30px;
	}
.navbar-collapse{
	padding: 0;
	margin: 0;
	background-color: #ff9900;
	}
.navbar-header,.navbar li{
	border-right: 1px solid #ffa31a;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #ff9900;
	}
.navbar-form{
	padding-top: 8px;
	padding-bottom: 8px;
	}
.footer {
  text-align: center;
  margin: auto;
  color:#5E5E5E;
  border-top:none;
  }
.footer .container{
	background-color: #fcfcfc;
	padding-right: 10px;
	padding-top: 10px;
	}  
h1{
  	font-size: 1.8em;
  	padding-bottom: 1em;
  	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  	}
h2{
  	font-size: 1.4em;
  	padding-top: 1em;
  	}
h3{
  	font-size: 1.2em;
  	padding-top: 1em;
  	}
h4{
	font-size: 1.1em;
	padding-top: 1em;
	}
blockquote{
	font-size: 	1.1em;
	}  	
a {
	color:#ff9900;
	}  	
.navbar a{
	color: #ffffff !important;
	}
.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #ffa31a;
    color:#e6e6e6 ! important;
	 }
.open #dLabelGlobalToc{
	background-color: #ffa31a;
   color:#e6e6e6 ! important;
	}