<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>de.latlon.xplan.manager.web.spring.ManagerWebSpringConfig</param-value>
  </context-param>

  <!-- Servlets -->
  <servlet>
    <servlet-name>configurationService</servlet-name>
    <servlet-class>de.latlon.xplan.manager.web.server.service.ManagerWebConfigurationServiceImpl</servlet-class>
    <init-param>
      <param-name>configurationFilePathVariable</param-name>
      <param-value>MANAGER_WEB</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>xplanValidationService</servlet-name>
    <servlet-class>de.latlon.xplan.manager.web.server.service.XPlanMgrValidationServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>xplanmgrwebrest</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>configurationService</servlet-name>
    <url-pattern>/xplanmgrweb/config</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xplanValidationService</servlet-name>
    <url-pattern>/xplanmgrweb/validation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xplanmgrwebrest</servlet-name>
    <url-pattern>/xplanmgrweb/rest/*</url-pattern>
  </servlet-mapping>

  <!-- Bootstrap the root application context as usual using ContextLoaderListener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
